[user]
	name = Val Saven
	email = val.saven@gmail.com
	signingKey = ~/.ssh/id_ed25519.pub

[init]
	defaultBranch = master

[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[core]
	longpaths = true
	editor = vim
	sshCommand = ssh
	pager = delta

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[interactive]
	diffFilter = delta --color-only

[rerere]
	enabled = true

[rebase]
	autoStash = true

[fetch]
	prune = true

[credential]
	helper = manager
